body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-color: #f3f0e9;
}

h1 {
  margin: 0;
  padding: 0;
}

h1 span {
  display: none;
}

h1 a {
  display: block;
  background: url('/images/heading.png') no-repeat top left;
  width: 900px;
  height: 137px;
  margin: 0 auto;
}

#content_container {
  margin: 0 auto;
  width: 900px;
  background-color: white;
}

#content_container #content {
  padding: 30px;
}

#content_container #content p {
  font-size: 2em;
}

#content_container #content_end {
  background: url('/images/footer.png') no-repeat top left;
  width: 900px;
  height: 57px;
  text-align: center;
  padding: 40px 0 0 0;
}

#content_container #content_end p {
  margin: 0 0 3px 0;
  color: #c84b4b;
}
